/* OrderForm.css */

/* General styling */
body {
  background: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-3840x2160-1432.jpg"); 
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: auto; 
  overflow: auto;
  
}
  
  /* Navbar styling */
  .navbar {
    color: white;
    padding: 15px; 
    text-align: center; 
    margin: 0;
    width:100%;
  }
  
  /* Main container styling */

  .form-details{
    background-color: #fbfbfc;
    opacity: .5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(139, 57, 57, 0.1);
    
    }
    p{
      font-family: "Lucida Console", "Courier New", monospace;
      margin-bottom: 50px;
    }
    label.item-detail{
      margin-top: 100px;
      margin-bottom: 100px;
    }
    button.submit-button{
      margin-top: 10px;
      background-color: #0a0a0a;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding:7px;
      font-size:  16px;
      color: rgb(243, 235, 235);
      justify-content: center;
      align-items: center;
    }
  
 
.delete-button {
  background-color: #0f0e0e; 
  color: rgb(238, 5, 5);
  padding: 5px 10px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
  margin-left: 10px;

}
.delete-button:hover {
  background-color: rgb(0, 0, 0); /* Darker red on hover, you can change it */
}



  /* Available Products styling */
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    opacity: .75;
    color: #881b1b;
    text-align: center;
    border-radius: 20px;
    padding: 5px 30px 70px;
    margin: 10px;
    }

    h4{
        margin:10px;
    }

    p {
      margin-top: 10px;
      margin:5px;
      font-size: 18px;
    }

    button.add-button {
      margin-top: 10px;
      background-color: #ed6755;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
      margin-left: 10px;
    }
